a {
    text-decoration: none;
    color: inherit;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.aligin-center {
    align-items: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.top-2 {
    margin-top: 20px;
}

.gap-8 {
    column-gap: 8px;
}

.m-top {
    margin-top: 9px;
}

.m-0 {
    margin: 0;
}

.mr-12 {
    margin-right: 12px;
}

.ml-12 {
    margin-left: 12px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.p-24 {
    padding: 24px;
}

/* Độ rộng theo đơn vị % percent */
.w-26p {
    width: 26%;
}

.w-60p {
    width: 60%;
}

.w-40p {
    width: 40%;
}

.w-42p {
    width: 42%;
}

/* Màu đỏ cảnh báo lỗi thông dụng */
.required {
    color: var(--text-error);
}

/* Text toast message cảnh báo */
.text-success {
    color: var(--text-success-toast-message);
}

.text-warning {
    color: var(--text-warning-toast-message);
}

.text-error {
    color: var(--text-error-toast-message);
}

/* Căn chỉnh text */
.text__align-right {
    text-align: right;
    margin-right: 10px;
}
.text__algin-center {
    text-align: center;
}

/* border của input  */

.border__error {
    border-color: var(--border-input-error) !important;
}

.border__focus {
    border-color: var(--border-input-focus);
}

.background-white {
    background-color: #fff;
}

.bgc-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}
/*  */

.blur-model {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.icon-warning {
    background-position: -598px -463px;
}
.icon-ans {
    background-position: -672px -462px;
}

.icon-info {
    background-position: -752px -462px;
}
