:root {
    /* Màu sắc */
    --color-green-base: #50b83c;
    --color-red-base: #ff0000;
    --color-gray-base: #e6e6e6;
    --color-white-base: #fff;

    --btn-extra-hover: #f6f6f6;
    --btn-extra-active: #ebebeb;
    --btn-main-hover: #5dc748;
    --btn-main-active: #0f723d;

    --hover-sidebar-bg: #404f64;
    --active-sidebar-bg: #404f64;
    --active-sidebar-color: #0dd469;

    --border-input-focus: #50b83c;
    --border-input-error: #ff0000;
    --text-error: #ff0000;

    --text-heading: #1f1f1f;
    --text-success-toast-message: #50b83c;
    --text-error-toast-message: #de3618;
    --text-warning-toast-message: #f49342;

    /* Kích thước */
    --header-height: 56px;
    --menu-weight: 200px;
}
